.maintitleheader {
    font-family:palatino;
    font-size:64px;
    color:black;
    font-weight:900;
}
.recipeitem {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:22px;
    color:black;
}
.mainpagebody {
    text-align:center;
    background-color:peru;
}
